<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riodev.cataloguemovie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.riodev.cataloguemovie.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.riodev.cataloguemovie.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RemainderSettingsActivity"
            android:label="@string/title_activity_remainder_settings" />

        <service
            android:name=".widget.FavoriteWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_widget_info" />
        </receiver>

        <receiver
            android:name=".alarm.ReleaseAlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <receiver
            android:name=".alarm.DailyAlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity android:name=".activity.DetailMovieActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.MovieProvider"
            android:authorities="com.riodev.cataloguemovie"
            android:exported="true"
            android:readPermission="com.riodev.cataloguemovie.READ_DATABASE"
            android:writePermission="com.riodev.cataloguemovie.WRITE_DATABASE" />
    </application>

</manifest>